@charset "UTF-8";

a,
a:visited {
  text-decoration: none;
  color: #00AE68;
}

a.button {
  display: block;
  position: relative;
  float: left;
  width: 200px;
  padding: 0;
  margin: 10px 20px 10px 0;
  font-weight: 600;
  text-align: center;
  line-height: 50px;
  color: #FFF;
  border-radius: 5px;
  transition: all 0.2s ;
  font-size: 20px;
  color: rgb(0, 0, 0);
}

.btnLightBlue {
  background: #fff2cc;
}
.btnLightBlue.btnPush {
  box-shadow: 0px 5px 0px 0px rgb(255, 225, 136);
}
.btnPush:hover {
  margin-top: 15px;
  margin-bottom: 5px;
}
.btnLightBlue.btnPush:hover {
  box-shadow: 0px 0px 0px 0px rgb(255, 225, 136);
}


.btn {
  border: none;
  display: block;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  overflow: hidden;
  position: relative;
  color: rgb(0, 0, 0);
  font-weight: 700;
  font-size: 15px;
  background-color: rgb(255, 255, 255, 0.5);
  padding: 17px 60px;
  margin: 0 auto;
  box-shadow: 0 5px 15px rgb(255, 255, 255, 0.5);
  
}

.btn span {
  position: relative; 
  z-index: 1;
}

.btn:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 490%;
  width: 140%;
  background: rgb(163, 250, 163,0.5);
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
  transform: translateX(-98%) translateY(-25%) rotate(45deg);
}

.btn:hover:after {
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
}